<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="about.html"><h1>Connor Murray</h1></a>
        <nav>
            <ul>
                        <div class="dropdown">
                            <button class="dropbtn">About</button>
                        <div class="dropdown-content">
                            <a href="#"></a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                      </div>
                <li><a href="project.html">Projects</a></li>
                <li><a href="intrest.html">Intrest</a></li>
            </ul>
        </nav>
    </header>

    <footer>

    </footer>
</body>
</html>
